<p>With or without surprise the direction and manner of a monster’s approach should be adjudicated by the referee in
  accordance with its <strong>type</strong>, the <strong>surroundings</strong>, and the <strong>disposition of the
    players</strong>. <strong>Unintelligent monsters</strong> will simply attack, while those with any cunning will
  judge the situation accordingly. <strong>Chaotics</strong> are predisposed to attack lawfuls, and vice versa, and
  <strong>normal man-types</strong> will only attack 4<sup style="line-height: 0; font-size: 0.6rem">th</sup> (or
  higher) level fighters if there are no other targets.</p>
<p>The referee can otherwise determine monster behavior according to the following table, adjusting any result for
  bribes offered, perceived threats, differences of race or alignment, an dso on.</p>