<p>With or without surprise the direction and manner of a monster’s
  approach should be adjudicated by the referee in accordance with
  its:</p>
<ul>
  <li><strong>type</strong></li>
  <li><strong>surroundings</strong></li>
  <li><strong>disposition of the players</strong></li>
</ul>
<hr />
<ul>
  <li><strong>Unintelligent monsters</strong> will simply attack.</li>
  <li><strong>Cunning monsters</strong> will judge the situation
    accordingly.</li>
  <li><strong>Chaotics</strong> are predisposed to attack
    <strong>lawfuls</strong>, and vice versa.
  </li>
  <li><strong>Normal man-types</strong> will only attack 4<sup style="line-height: 0; font-size: 0.6rem">th</sup>
    (or higher) level fighters if there are no other targets.</li>
</ul>
<hr />
<p>The referee can otherwise determine monster behavior according to the
  following table, adjusting any result for:</p>
<ul>
  <li><strong>bribes</strong> offered</li>
  <li>perceived <strong>threats</strong></li>
  <li>differences of <strong>race</strong> or
    <strong>alignment</strong>
  </li>
  <li>and so on…</li>
</ul>