<table style="font-size: 0.8em; border: 1px solid #000">
  <caption>Morale Check</caption>
  <thead>
    <tr class="header">
      <th style="text-align: center;">2–12</th>
      <th style="text-align: left;">Reaction</th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd"
      style="background-color: #f5d950; border-top: 1px solid #000; border-bottom: 1px solid #000; font-weight: bold; font-size: 1em;">
      <td style="text-align: center;">2 or less</td>
      <td style="text-align: left;">Surrender</td>
    </tr>
    <tr class="even">
      <td style="text-align: center;">3–5</td>
      <td style="text-align: left;">Flee</td>
    </tr>
    <tr class="odd">
      <td style="text-align: center;">6–8</td>
      <td style="text-align: left;">Stand off or hold</td>
    </tr>
    <tr class="even">
      <td style="text-align: center;">9–11</td>
      <td style="text-align: left;">Press for advantage</td>
    </tr>
    <tr class="odd">
      <td style="text-align: center;">12 or more</td>
      <td style="text-align: left;">Attack impetuously!</td>
    </tr>
  </tbody>
</table>

<table style="font-size: 0.8em; border: 1px solid #000">
  <caption>Morale Check</caption>
  <thead>
    <tr class="header">
      <th style="text-align: center;">2–12</th>
      <th style="text-align: left;">Reaction</th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td style="text-align: center;">2 or less</td>
      <td style="text-align: left;">Surrender</td>
    </tr>
    <tr class="even"
      style="background-color: #f5d950; border-top: 1px solid #000; border-bottom: 1px solid #000; font-weight: bold; font-size: 1em;">
      <td style="text-align: center;">3–5</td>
      <td style="text-align: left;">Flee</td>
    </tr>
    <tr class="odd">
      <td style="text-align: center;">6–8</td>
      <td style="text-align: left;">Stand off or hold</td>
    </tr>
    <tr class="even">
      <td style="text-align: center;">9–11</td>
      <td style="text-align: left;">Press for advantage</td>
    </tr>
    <tr class="odd">
      <td style="text-align: center;">12 or more</td>
      <td style="text-align: left;">Attack impetuously!</td>
    </tr>
  </tbody>
</table>

<table style="font-size: 0.8em; border: 1px solid #000">
  <caption>Morale Check</caption>
  <thead>
    <tr class="header">
      <th style="text-align: center;">2–12</th>
      <th style="text-align: left;">Reaction</th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td style="text-align: center;">2 or less</td>
      <td style="text-align: left;">Surrender</td>
    </tr>
    <tr class="even">
      <td style="text-align: center;">3–5</td>
      <td style="text-align: left;">Flee</td>
    </tr>
    <tr class="odd"
      style="background-color: #f5d950; border-top: 1px solid #000; border-bottom: 1px solid #000; font-weight: bold; font-size: 1em;">
      <td style="text-align: center;">6–8</td>
      <td style="text-align: left;">Stand off or hold</td>
    </tr>
    <tr class="even">
      <td style="text-align: center;">9–11</td>
      <td style="text-align: left;">Press for advantage</td>
    </tr>
    <tr class="odd">
      <td style="text-align: center;">12 or more</td>
      <td style="text-align: left;">Attack impetuously!</td>
    </tr>
  </tbody>
</table>

<table style="font-size: 0.8em; border: 1px solid #000">
  <caption>Morale Check</caption>
  <thead>
    <tr class="header">
      <th style="text-align: center;">2–12</th>
      <th style="text-align: left;">Reaction</th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td style="text-align: center;">2 or less</td>
      <td style="text-align: left;">Surrender</td>
    </tr>
    <tr class="even">
      <td style="text-align: center;">3–5</td>
      <td style="text-align: left;">Flee</td>
    </tr>
    <tr class="odd">
      <td style="text-align: center;">6–8</td>
      <td style="text-align: left;">Stand off or hold</td>
    </tr>
    <tr class="even"
      style="background-color: #f5d950; border-top: 1px solid #000; border-bottom: 1px solid #000; font-weight: bold; font-size: 1em;">
      <td style="text-align: center;">9–11</td>
      <td style="text-align: left;">Press for advantage</td>
    </tr>
    <tr class="odd">
      <td style="text-align: center;">12 or more</td>
      <td style="text-align: left;">Attack impetuously!</td>
    </tr>
  </tbody>
</table>

<table style="font-size: 0.8em; border: 1px solid #000">
  <caption>Morale Check</caption>
  <thead>
    <tr class="header">
      <th style="text-align: center;">2–12</th>
      <th style="text-align: left;">Reaction</th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td style="text-align: center;">2 or less</td>
      <td style="text-align: left;">Surrender</td>
    </tr>
    <tr class="even">
      <td style="text-align: center;">3–5</td>
      <td style="text-align: left;">Flee</td>
    </tr>
    <tr class="odd">
      <td style="text-align: center;">6–8</td>
      <td style="text-align: left;">Stand off or hold</td>
    </tr>
    <tr class="even">
      <td style="text-align: center;">9–11</td>
      <td style="text-align: left;">Press for advantage</td>
    </tr>
    <tr class="odd"
      style="background-color: #f5d950; border-top: 1px solid #000; border-bottom: 1px solid #000; font-weight: bold; font-size: 1em;">
      <td style="text-align: center;">12 or more</td>
      <td style="text-align: left;">Attack impetuously!</td>
    </tr>
  </tbody>
</table>